/*
 * Empty Stylesheet file.
 */

.pnl{
    -fx-background-color: white;
}

.pnl-title{
    -fx-background-color: #E1E1E1;
}

.card-1{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #188E22, #188E78);
}

.card-2{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #188E78, #184B8E);
}

.card-3{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #184B8E, #39188E);
}

.card-4{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #39188E, #8B188E);
}

.card-5{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #8B188E, #8E1843);
}

.card-6{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #8E1843, #C57210);
}

.btn-pdf{
    -fx-background-color: white;
    -fx-border-color: #B11919;
    -fx-border-width: 1px;
    -fx-text-fill: #B11919;
}

.btn-excel{
    -fx-background-color: white;
    -fx-border-color: #188E22;
    -fx-border-width: 1px;
    -fx-text-fill: #188E22;
}