/*
 * Empty Stylesheet file.
 */
.pnl{
    -fx-background-color: white;
}

.pnl-title{
    -fx-background-color: #E1E1E1;
}

.card-producto{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #188E22, #188E78);
}

.card-ventas{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #188E78, #184B8E);
}

.card-producto-bajo{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom right, #184B8E, #39188E);
}

.btn-save{
    -fx-background-color: #188E22;
    -fx-text-fill: white;
}

.btn-save:hover{
    -fx-background-color: #2C9628;
}

.btn-edit{
    -fx-background-color: #BEBB13;
    -fx-text-fill: white;
}

.btn-edit:hover{
    -fx-background-color: #D1CD17;
}

.btn-delete{
    -fx-background-color: #B11919;
    -fx-text-fill: white;
}

.btn-delete:hover{
    -fx-background-color: #DC3535;
}

.btn-clean-up{
    -fx-background-color: #444DF2;
    -fx-text-fill: white;
}

.btn-clean-up:hover{
    -fx-background-color: #5057DB;
}

.btn-pdf{
    -fx-background-color: white;
    -fx-border-color: #B11919;
    -fx-border-width: 1px;
    -fx-text-fill: #B11919;
}

.btn-excel{
    -fx-background-color: white;
    -fx-border-color: #188E22;
    -fx-border-width: 1px;
    -fx-text-fill: #188E22;
}