/*
 * Empty Stylesheet file.
 */
.pnl{
    -fx-background-color: white;
}

.pnl-title{
    -fx-background-color: #E1E1E1;
}

.pnl-total{
    -fx-background-color: #2A83A3;
}

.btn-add{
    -fx-background-color: #188E22;
    -fx-text-fill: white;
}

.btn-add:hover{
    -fx-background-color: #2C9628;
}

.btn-save{
    -fx-background-color: #188E22;
    -fx-text-fill: white;
}

.btn-save:hover{
    -fx-background-color: #2C9628;
}

.btn-clean-up{
    -fx-background-color: #444DF2;
    -fx-text-fill: white;
}

.btn-clean-up:hover{
    -fx-background-color: #5057DB;
}

.btn-remove{
    -fx-background-color: #B11919;
    -fx-text-fill: white;
}

.btn-remove:hover{
    -fx-background-color: #DC3535;
}

.btn-search{
    -fx-background-color: #cccccc;
}

.btn-search:hover{
    -fx-background-color: white;
}